API_PORT= 8002
REDIS_PORT= 6390
DEBUG=True
SECRET_KEY='fkjsdk##sdfdss^^^'
LOG_LEVEL=ERROR

ACCESS_TOKEN_LIFETIME=60
REFRESH_TOKEN_LIFETIME =1

DATABASE_USER=root
DATABASE_PASSWORD=test123
DATABASE_HOST=127.0.0.1
DATABASE_NAME=project-health-check

EMAIL_HOST=test
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=test@gmail.com
EMAIL_HOST_PASSWORD=ffff ffff yyyy yyyy
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1,*,
CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=https://project-health-check.innovix.in,

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_CACHE=redis://localhost:6379/1
CELERY_ACCEPT_CONTENT=json
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_TIMEZONE=UTC
CELERY_TASK_TRACK_STARTED=True
CELERY_TASK_TIME_LIMIT=1800

CELERY_REDIS_MAX_CONNECTIONS=20
CELERY_BROKER_CONNECTION_RETRY=True
CELERY_BROKER_CONNECTION_RETRY_ON_STARTUP=True
CELERY_BROKER_CONNECTION_MAX_RETRIES=10
CELERY_BROKER_POOL_LIMIT=

PROJECT_HEALTH_CHECK_INTERVAL_HOURS=0
PROJECT_HEALTH_CHECK_INTERVAL_MINUTES=1

SERVER_EXPIRY_ALERT_DAYS=3